.spinner-container {
  text-align: center;
  background-color: #F2F2F2;
  height: 100vh;
}

.spinner {
  display: inline-block;

  margin-top: 20%;
  width: 64px;
  height: 64px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #5132B6;
  border-color: #5132B6 transparent #5132B6 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
